<%- include('../partials/header') %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the World!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="campgrounds/new">Add new campground</a>
        </p>
    </header>
    <div class="row">
        <% campgrounds.forEach((campground)=>{ %>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch" id="index_row">
                <div class="card mb-3 text-center">
                    <img class="card-img-top img-thumbnail img-responsive" src=" <%= campground.image %> " alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> <%= campground.name %> </h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info...</a>
                    </div>
                </div>
            </div>
        <% }); %>  
    </div>
</div>

<%- include('../partials/footer') %>



